<style>
    :root {
        /* Primary theme color */
        --primary-color: #3dafb7;
        /* Primary theme text color */
        --primary-text-color: #000000c0;
        --primary-text-color-over: #000000bc;
        /* Primary theme link color */
        --primary-link-color: #dda013;
        /* Secondary color: the background body color */
        --secondary-color: #ffe8b967;
        --secondary-text-color: #303030;

        --shadow-color: #ddd;
        /* Font used for headers (h1 & h2) */
        --header-font-family: 'Kumbh Sans', sans-serif;
        /* Font used for text */
        --text-font-family: 'Ubuntu', sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* Primary theme color */
            --primary-color: #1a646e;
            /* Primary theme text color */
            --primary-text-color: #d7d7d7;
            --primary-text-color-over: #ababab4e;
            /* Primary theme link color */
            --primary-link-color: #376a9acf;
            /* Secondary color: the background body color */
            --secondary-color: #282828e0;
            --secondary-text-color: #f2f2f2;
            /* Highlight text color of table of content */
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #3a3a3a;

            --shadow-color: #202020;
            /* Font used for headers (h1 & h2) */
            --header-font-family: 'Kumbh Sans', sans-serif;
            /* Font used for text */
            --text-font-family: 'Ubuntu', sans-serif;
        }
    }
</style>